[package]
name = "{{ mcu.name }}-lpa"
version = "{{ crate.version }}"
authors = ["Po-Yi Tsai <abt8601@protonmail.ch>"]
edition = "2021"
rust-version = "1.76.0"
description = "Peripheral access crate for {{ mcu.name_pretty }} found in the {{ mcu.found_in }}."
repository = "https://github.com/abt8601/raspi-pacs"
license = "Unlicense"
keywords = ["raspberrypi", "{{ mcu.name }}", "pac"]
categories = ["embedded", "hardware-support", "no-std", "no-std::no-alloc"]

[dependencies]
critical-section = { version = "1.0", optional = true }
vcell = "0.1.0"

portable-atomic = { version = "0.3.16", optional = true, default-features = false }
defmt = { version = "0.3.10", optional = true }

[features]
rt = []

atomic = ["portable-atomic"]
